<!doctype html>
<html>
  <head>
    <title><%=shopName%> Catalogue</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%> Shop</h1>
    <h2>Here are the books from the search "<%=keyword%>":</h2>
    <ul>

    <% availableBooks.forEach((book)=>{%>

      <li><%=book.name%>, £<%=book.price%></li>

    <% }); %>

    </ul>
  </body>
</html>